  <div class="container">
    <div class="card">
      <div class="card-body">
    <h5 style="color:gray">Liste des chauffeurs</h5>
    <br>
    <table class="table">
      <thead class="thead-light">
        <th>matricule</th>
        <th>nom</th>
        <th>prenom</th>
        <th>adresse</th>
        <th>numero</th>
        <th></th>
        <th></th>
        <th></th>
      </thead>
      <tbody>
      <tr *ngFor="let chauffeur of chauffeurs ;let i=index">
        <th>{{chauffeur?.matricule_ch}}</th>
        <td>{{chauffeur?.nom_ch}}</td>
        <td>{{chauffeur?.prenom_ch}}</td>
        <td>{{chauffeur?.adr_chauff}}</td>
        <td>{{chauffeur?.tel_chauff}}</td>
        <td><button type="button" class="btn btn-success" >Modifier</button></td> 
        <td><button type="button" class="btn btn-info" >View</button></td> 
        <td><button type="button" class="btn btn-danger" >Supprimer</button></td>
      
      </tr>
    </tbody>
    </table>
    </div>
    </div>
  </div>


<!--<div>
  <label>hello</label>
  <div *ngFor="let chauffeur of chauffeurs">
  {{chauffeur|json}}
</div>
</div>
-->