  <div class="container">
    <div class="card">
      <div class="card-body">
    <h5 style="color:gray">Liste des chauffeurs</h5>
    <br>
    <table class="table">
      <thead class="thead-light">
        <th>identifiant</th>
        <th>nom</th>
        <th>prenom</th>
        <th>adresse</th>
        <th>numero</th>
      </thead>
      <tr *ngFor="let chauffeur of chauffeurs ;let i=index">
        <td>{{chauffeur?.id_chauff}}</td>
        <td>{{chauffeur?.nom_chauff}}</td>
        <td>{{chauffeur?.prenom_chauff}}</td>
        <td>{{chauffeur?.adresse_chauff}}</td>
        <td>{{chauffeur?.num_chauff}}</td>
      <!--  <td><button type="button" class="btn btn-success" (click)="edit(chauffeur.id_chauff)">Modifier</button></td> 
        <td><button type="button" class="btn btn-info" [routerLink]="['/vehicule/info', vehicule?.id_immatriculation]">View</button></td> 
        <td><button type="button" class="btn btn-danger" (click)="delete(chauffeur.id_chauff , i)">Supprimer</button></td>
      -->
      </tr>
    </table>
    </div>
    </div>
  </div>
