<!--<div class="topnav" id="myTopnav">
    <a href="#home" class="active" href="#">Acceuil</a>
    <a class="nav-link"  routerLink ='/Vehicule' routerLinkActtive="active" >Véhicules</a>
    <a class="nav-link"  >Entretien</a>
    <a class="nav-link" >Depenses</a>
    
   <div>
    <select #selectComposant (click)="goToComponent(selectComposant.value)">
      <option  value="Autres">Autres</option>
      <option routerLink="/Modele" value="Modele">Modele</option>
      <option routerLink="/Marque" value="Marque">Marque</option>
      <option routerLink="/TypeV" value="TypeV">Type de véhicule</option>
      <option routerLink="/Chauffeur" value="Chauffeur">Chauffeur</option>
      <option routerLink="/Affectation" value="Affectation">Affectation</option>
      <option routerLink="/Boite" value="Boite">Type de boite</option>
      <option routerLink="/Energie" value="Energie">Energie</option>
      <option routerLink="/Contrat"value="Contrat">Contrat d'assurance</option>
      <option routerLink="/Assurance" value="Assurance" >Assurance</option>
    </select>
  </div>

  <div class="dropdown" [ngClass]="{'show':show}" >
    <a class="btn btn-secondary dropdown-toggle" (click)="showMenu()" 
    role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Autres
    </a>
  
    <div class="dropdown-menu" [ngClass]="{'show':show}"  aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="#">Modele</a>
      <a class="dropdown-item" href="#">Marque</a>
      <a class="dropdown-item" href="#">Type de véhicule</a>
      <a class="dropdown-item" href="#">Chauffeurs</a>
    </div>
  </div>
  
  </div>
  -->
  <!--style="background-color: rgb(121, 129, 168);" -->
 <!-- <nav  class="navbar navbar-expand-lg " style="background-color: #e3f2fd;" >
    <a class="navbar-brand" routerLink ='' routerLinkActtive="active">Acceuil</a>
    <button class="navbar-toggler" type="button" 
            data-toggle="collapse" data-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ">
        <li class="nav-item ">
          <a class="nav-link" routerLink ='/Vehicule' routerLinkActtive="active" >
            Véhicules </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Entretien</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/depenses' routerLinkActtive="active" >Depense</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" routerLink ='/utilisateurs' routerLinkActtive="active" >
              Utilisateurs </a>
          </li>
        <li class="nav-item dropdown"  >
          <a class="nav-link dropdown-toggle"  
             id="navbarDropdown" role="button" data-toggle="dropdown" 
             aria-haspopup="true" aria-expanded="false" (click)="showMenu()">
             Occurrences
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" [ngClass]="{'show':show}">
            <a class="dropdown-item" routerLink="/Modele" value="Modele">Modele</a>
            <a class="dropdown-item" routerLink="/Marque" value="Marque">Marque</a>
            <a class="dropdown-item" routerLink="/Chauffeur" value="Chauffeur">Chauffeur</a>
            <a class="dropdown-item" routerLink="/TypeV" value="TypeV">Type de véhicule</a>
            <a class="dropdown-item" routerLink="/Affectation" value="Affectation">Affectation</a>
            <a class="dropdown-item" routerLink="/Boite" value="Boite">Type de boite</a>
            <a class="dropdown-item" routerLink="/Energie" value="Energie">Energie</a>
            <a class="dropdown-item" routerLink="/Assurance" value="Assurance">Assurance</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <li class="nav-item ">
          <a class="nav-link" routerLink ='' routerLinkActtive="active" >
            Déconnexion </a>
        </li>
      
    </div>
  </nav>
  -->

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" routerLink='/acceuil' routerLinkActtive="active" >Acceuil</a>
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink='/Vehicule' routerLinkActtive="active">Véhicules</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/depenses' routerLinkActtive="active" >Depense</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/filtrage' routerLinkActtive="active" >Filtrage</a>
      </li>
      <li class="nav-item dropdown"  >
        <a class="nav-link dropdown-toggle"  
           id="navbarDropdown" role="button" data-toggle="dropdown" 
           aria-haspopup="true" aria-expanded="false" (click)="showMenu()">
           Occurrences
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" [ngClass]="{'show':show}">
          <a class="dropdown-item" routerLink="/Modele" value="Modele">Modele</a>
          <a class="dropdown-item" routerLink="/Marque" value="Marque">Marque</a>
          <a class="dropdown-item" routerLink="/Chauffeur" value="Chauffeur">Chauffeur</a>
          <a class="dropdown-item" routerLink="/TypeV" value="TypeV">Type de véhicule</a>
          <a class="dropdown-item" routerLink="/Affectation" value="Affectation">Affectation</a>
          <a class="dropdown-item" routerLink="/Boite" value="Boite">Type de boite</a>
          <a class="dropdown-item" routerLink="/Energie" value="Energie">Energie</a>
          <a class="dropdown-item" routerLink="/Assurance" value="Assurance">Assurance</a>
        </div>
      </li>
    </ul>
      <!-- Actual search box -->
      <div *ngIf="authentificationService.isLogged()" class="has-search " style="margin-left: 60%">
        <ul class="navbar-nav">
        <li class="nav-item ">
          <span class="nav-link" (click)="logout()"  >
            Déconnexion </span>
        </li>
        </ul>
      </div>
  </nav>