<footer class="footer">


    <div class="col-sm-4 bloc-contact">
        <h5 class="text-color"><span class="border-color" style="size: 0ch"></span></h5>
        <div class="content">
            <p>

            </p>
        </div>
    </div>


    <!-- <div class="container">
        <div class="row">
            <div class="col-md-12">
                Plus d'informations contacter : +216 54 950 202 
            </div>
            <div>
           
        </div>
        </div>
    </div> -->
</footer>