<form #formulaire="ngForm">
    <div class="row">
          <div class="form-group col-md-3 ">
              <label for="login">login</label>
              <input type="text" class="form-control" 
                     ngModel name="login" pattern='[a-zA-Z ]+' minlength="3" maxlength="20"
                     #login="ngModel" 
                     >
               <div *ngIf="login.invalid && login.touched " style="color:red" class="alert alert-light"
                role="alert">
                  login incorrecte
                 </div>
          </div>
      </div>
    <br>
    <div>
        <button type="submit" (click)="add(formulaire)" class="btn btn-success">Enregistrer</button>
      </div>
  
  </form>