<div class="row" style="margin-top: 2%">
    <div class="container"> <!-- espace al jneb-->
    <!--  <h4 style="color:darkred">liste des types de boite</h4> -->
      
      <a routerLink="/Marque/addMarque" style="margin-left: 85%">
        <button  type="button" class="btn btn-dark" >ajouter une marque</button>
      </a>
      <br>
      <br>
      <a routerLink="/Marque/listMarque" style="margin-left: 85%">
        <button  type="button" class="btn btn-dark" >consulter la liste</button>
      </a>
    
      <hr>
      <br   >
  
  <router-outlet></router-outlet>
  <br>
<!--<app-list-marque></app-list-marque> -->
  <div style="margin-bottom: 7%"></div>
  </div>
  </div>
