<br>
<br>
<div class="row" style="margin-top: 1% ; margin-left: 2%">
    <div class="row">
        <br>
        <div class="form-group col-md-3">
            <a routerLink="/listModele" style="margin-left: 85%">
                <button type="button" class="btn btn-dark">consulter la liste</button>
            </a>
        </div>
    </div>
</div>
<hr>

<form #formulaire="ngForm">
    <div class="row">

        <div class="form-group col-md-3 ">
            <label for="modele">modele</label>
            <input type="text" class="form-control" ngModel name="des_modele" pattern='[a-zA-Z-0-9 ]+' minlength="3" maxlength="20" #modele="ngModel">
            <div *ngIf="modele.invalid && modele.touched " style="color:red" class="alert alert-light" role="alert">
                modele invalide
            </div>
        </div>
        <div class="form-group col-md-3">
            <label for="des_marque">marque:</label>
            <input #inputmarque class="form-control" (keyup)="chercherMarque(inputmarque.value)" [(ngModel)]="selectedMarque" ngModel name="des_marque">
            <input type="text" hidden name='id_marque' [(ngModel)]="idSelectedMArque" ngModel>
            <ol class="list-group" #listSelectedMarque>
                <li class="list-group-item" (click)="selectMarque(marque)" *ngFor="let marque of resultat" value="{{marque?.id_marque}}">
                    {{marque?.des_marque}}
                </li>
            </ol>
        </div>
    </div>
    <br>
    <div>
        <button type="submit" (click)="add(formulaire)" class="btn btn-success">Enregistrer</button>
    </div>

</form>

<router-outlet></router-outlet>