<br>

<div class="row" style="margin-left: 5%">
    <br>
    <div class="form-group col-md-3">
        <a routerLink="/entretien" style="margin-left: 85%">
            <button type="button" class="btn btn-dark"><i class="fa fa-plus"></i></button>
        </a>
    </div>
</div>
<br>
<br>
<div class="container">
    <div class="card">
        <div class="card-body">
            <h5 style="color:gray">Liste des entretiens</h5>
            <br>
            <table class="table">
                <thead class="thead-light">
                    <th>Immatriculation</th>
                    <th>Type de l'entretien</th>
                    <th>Date prévu</th>
                    <th>Date d'exécution</th>
                    <th>Montant</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </thead>
                <tbody>
                    <tr *ngFor="let entretien of entretiens ;let i=index">
                        <th>{{entretien?.vehicule_entretien?.immatriculation}}</th>
                        <td>{{entretien?.type_entretien?.des_typeEntretien}}</td>
                        <td>{{entretien?.date_prev_ent}}</td>
                        <td>{{entretien?.date_execution}}</td>
                        <td>{{entretien?.montant_entretien | number}}</td>
                        <td><button type="button" class="btn btn-success" (click)="gotoInfo(entretien.id_programme)"><i class="fa fa-pencil"></i></button></td>
                        <td><button type="button" class="btn btn-danger" (click)="delete(entretien.id_programme,i) "><i class="fa fa-trash-o"></i></button></td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<br>