<br>
<br>
<div style="margin-left: 5%">
    <form #formulaire="ngForm" *ngIf="entretien">
        <h5>Modifier un programme d'entretien</h5>
        <div class="row">

            <div class="form-group col-sm-2 ">
                <label for="immatriculation">Véhicule :</label>
                <input type="text" class="form-control" #inputImmatricul ngModel name='immatriculation' autocomplete="off" (keyup)="chercherVehicule(inputImmatricul.value)" [(ngModel)]="entretien.vehicule_entretien.immatriculation">
                <input type="text" hidden name='id_vehicule' [(ngModel)]="idSelectedVehicule" ngModel>
                <ol class="list-group" #listSelectedVehicule>
                    <li class="list-group-item" (click)="selectVehicule(vehicule)" *ngFor="let vehicule of vehicules" value="{{vehicule?.id_vehicule}}">
                        {{vehicule?.immatriculation}}
                    </li>
                </ol>
            </div>

            <div class="form-group col-sm-2 ">
                <label for="des_typeEntretien">Type d'entretien :</label>
                <input type="text" class="form-control" #destypeEntretien ngModel name='des_typeEntretien' autocomplete="off" (keyup)="chercherType(destypeEntretien.value)" [(ngModel)]="entretien.type_entretien.des_typeEntretien">
                <input type="text" hidden name='id_typeEntretien' [(ngModel)]="idSelectedTypeEntretien" ngModel>
                <ol class="list-group" #listSelectedTypeEntretien>
                    <li class="list-group-item" (click)="selectTypeEntretien(type)" *ngFor="let type of typeEntretiens" value="{{type?.id_typeEntretien}}">
                        {{type?.des_typeEntretien}}
                    </li>
                </ol>
            </div>

            <div class="form-group col-md-3">
                <label for="date_prev_ent">Date prévu:</label>
                <input type="date" required class="form-control" id="date_prev_ent" name="date_prev_ent" [(ngModel)]="entretien.date_prev_ent" #dateprevent="ngModel">
            </div>
            <div class="form-group col-md-3">
                <label for="date_execution">Date d'exécution:</label>
                <input type="date" required class="form-control" id="date_execution" [(ngModel)]="entretien.date_execution" name="date_execution" #dateexecution="ngModel">
            </div>

            <div class="form-group col-md-3">
                <label for="description">Description:</label>
                <input required type="text" pattern="[a-zA-Z1-9]+" class="form-control" id="description" [(ngModel)]="entretien.description" name="description" #description="ngModel">

            </div>
            <div class="form-group col-md-3">
                <label for="montant_entretien">Montant de l'entretien:</label>
                <input required type="text" #montant="ngModel" pattern="[0-9]+" class="form-control" id="montant_entretien" name="montant_entretien" [(ngModel)]="entretien.montant_entretien" #montantentretien="ngModel">
                <div *ngIf="montant.invalid && montant.touched " style="color:red" class="alert alert-light" role="alert">
                    montant invalide
                </div>
            </div>

        </div>
        <br>
        <div>
            <button type="submit" (click)="modifier(entretien)" class="btn btn-success">Enregistrer</button>
        </div>

    </form>
</div>