<div class="row" style="margin-top: 2%">
    <div class="container"> <!-- espace al jneb-->
      <!--<h4 style="color:darkred">liste des chauffeurs</h4> -->
      
      <a routerLink="/Affectation/addAffectation" style="margin-left: 85%">
        <button  type="button" class="btn btn-dark"  >ajouter un service</button>
      </a>
      <br>
      <br>
      
      <a routerLink="/Affectation/listAffectation" style="margin-left: 85%">
        <button  type="button" class="btn btn-dark"  >la liste des affectations</button>
      </a>
      

      <hr>
      <br   >
  
  <router-outlet></router-outlet>
  <br>
<!--<app-list-affectation></app-list-affectation> -->
  <div style="margin-bottom: 7%"></div>
  </div>
  </div>
