<!--<div class="row" style="margin-top: 1%">
    <div class="row">
        <br>
        <br>
        <div class="form-group col-md-3">
            <a routerLink="/Vehicule/addVehicule" style="margin-left: 85%">
                <button type="button" class="btn btn-dark"><i class="fa fa-plus"></i></button>
            </a>
        </div>

        <div class="form-group col-md-4">
            <a routerLink="/Vehicule/listVehicules" style="margin-left: 85%">
                <button (click)="list()" type="button" class="btn btn-dark"><i class="fa fa-list"></i></button>
            </a>
        </div>
        <div class="form-group col-md-3">
            <a routerLink="/Vehicule/chercherVehicule" style="margin-left: 85%">
                <button type="button" class="btn btn-dark"><i class="fa fa-search"></i></button>
            </a>
        </div>
        <div class="form-group col-md-3">
            <a routerLink="/Vehicule/chercherVehicule" style="margin-left: 85%">
                <button type="button" class="btn btn-dark">Consulter assurances</button>
            </a>
        </div>
    </div>   
</div>
<hr>
<router-outlet></router-outlet>
-->

<div class="row" style="margin-top: 1%">
    <div class="row">
        <br>
        <div class="form-group col-md-3">
            <a routerLink="/listVehicules" style="margin-left: 85%">
                <button (click)="list()" type="button" class="btn btn-info"><i class="fa fa-list"></i></button>
            </a>
        </div>
        <div class="form-group col-md-3">
            <a routerLink="/chercherVehicule" style="margin-left: 85%">
                <button type="button" class="btn btn-info"><i class="fa fa-search"></i></button>
            </a>
        </div>
        <div class="form-group col-md-3">
            <a routerLink="/chercherAssurance" style="margin-left: 85%">
                <button type="button" class="btn btn-info">Consulter assurances</button>
            </a>
        </div>
        <div class="form-group col-md-3">
            <a routerLink="/chercherVignette" style="margin-left: 85%">
                <button type="button" class="btn btn-info">Consulter les vignettes</button>
            </a>
        </div>
    </div>
</div>
<hr>

<div style="margin-left: 2%">
    <div class="row">
        <div>
            <br>
            <form #formulaire="ngForm">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="panel-body">
                                <h5 style="color:gray">Ajouter un véhicule</h5>
                                <br>
                                <div class="row">
                                    <div class="form-group col-md-3">
                                        <label for="immatriculation">immatriculation:</label>
                                        <input pattern='[1-9-t-u-1-9]+' autocomplete="off" maxlength="9" title="immatriculation doit etre 111tu1111" type="text" class="form-control" ngModel name="immatriculation" #immatriculation="ngModel">
                                        <p *ngIf="immatriculation.invalid && immatriculation.touched " style="color:red" class="alert alert-light" role="alert">
                                            immatriculation incorrecte
                                        </p>
                                    </div>


                                    <div class="form-group col-md-3">
                                        <label for="des_marque">marque:</label>
                                        <input #inputmarque class="form-control" (keyup)="chercherMarque(inputmarque.value)" [(ngModel)]="selectedMarque" ngModel name="des_marque">
                                        <input type="text" hidden name='id_marque' [(ngModel)]="idSelectedMArque" ngModel>
                                        <ol class="list-group" #listSelectedMarque>
                                            <li class="list-group-item" (click)="selectMarque(marque)" *ngFor="let marque of resultat" value="{{marque?.id_marque}}">
                                                {{marque?.des_marque}}
                                            </li>
                                        </ol>
                                    </div>


                                    <div class="form-group col-md-3 ">
                                        <label for="id_modele">modele</label>
                                        <input type="text" class="form-control" #inputmodele name='des_modele' (keyup)="chercherModele(inputmodele.value)" [(ngModel)]="selectedModele">
                                        <ol class="list-group" #listSelectedModele>
                                            <li class="list-group-item" (click)="selectModele(listSelectedModele.value)" *ngFor="let modele of mod" value="{{modele?.id_modele}}">
                                                {{modele?.des_modele}}
                                            </li>
                                        </ol>
                                    </div>


                                    <div class="form-group col-md-3">
                                        <label for="date_m_c">date mise en circulation:</label>
                                        <input type="date" max="2019-04-16" class="form-control" ngModel name="date_m_c" id="date_m_c" #datemc="ngModel">
                                        <p *ngIf="datemc.invalid && datemc.touched " style="color:red" class="alert alert-light" role="alert">
                                            date invalide
                                        </p>
                                    </div>

                                    <div class="form-group col-md-3">
                                        <label for="num_moteur">num_moteur:</label>
                                        <input type="text" class="form-control" ngModel name="num_moteur" id="num_moteur" #nummoteur="ngModel" pattern="[A-Za-z0-9]+">
                                        <p *ngIf="nummoteur.invalid && nummoteur.touched " style="color:red" class="alert alert-light" role="alert">
                                            numero moteur invalide
                                        </p>
                                    </div>

                                    <div class="form-group col-md-3">
                                        <label for="date_acq">date d'acquisition:</label>
                                        <input type="date" max="2019-04-16" class="form-control" ngModel name="date_acq" id="date_acq" #dateacq="ngModel">
                                        <p *ngIf="dateacq.invalid && dateacq.touched " style="color:red" class="alert alert-light" role="alert">
                                            date invalide
                                        </p>
                                    </div>

                                    <div class="form-group col-md-3">
                                        <label for="cout_achat">valeur d'acquisition:</label>
                                        <input type="text" #acq class="form-control" #valeurAcq="ngModel" ngModel name="cout_achat" id="cout_achat" (keyup)="inputValidator($event)" (change)="inputCleaner($event)">
                                        <p *ngIf="valeurAcq.invalid && valeurAcq.touched " style="color:red" class="alert alert-light" role="alert">
                                            date invalide
                                        </p>
                                    </div>


                                    <div class="form-group col-md-3 ">
                                        <label for="des_typeVehicule">Type de vehicule</label>
                                        <input type="text" class="form-control" #inputtypeV ngModel name='des_typeVehicule' (keyup)="chercherTypeVehicule(inputtypeV.value)" [(ngModel)]="selectedTypeVehicule">
                                        <input type="text" hidden name='id_typeVehicule' [(ngModel)]="idSelectedtypevehicule" ngModel>
                                        <ol class="list-group" #listSelectedTypeV>
                                            <li class="list-group-item" (click)="selectTypeV(type)" *ngFor="let type of typev" value="{{type?.id_typeVehicule}}">
                                                {{type?.des_typeVehicule}}
                                            </li>
                                        </ol>
                                    </div>

                                    <div class="form-group col-md-3 ">
                                        <label for="des_affectation">Affectation</label>
                                        <input type="text" class="form-control" #inputaffectation ngModel name='des_affectation' (keyup)="chercherAffectation(inputaffectation.value)" [(ngModel)]="selectedAffectation">
                                        <input type="text" hidden name='id_affectation' [(ngModel)]="idSelectedAffectation" ngModel>
                                        <ol class="list-group" #listSelectedAffectation>
                                            <li class="list-group-item" (click)="selectAffectation(affectations)" *ngFor="let affectations of affect" value="{{affectations?.id_affectation}}">
                                                {{affectations?.des_affectation}}
                                            </li>
                                        </ol>
                                    </div>

                                    <div class="form-group col-md-3">
                                        <label for="nom_ch">Chauffeur:</label>
                                        <input type="text" class="form-control" #inputchauffeur ngModel name='nom_ch' (keyup)="chercherChauffeur(inputchauffeur.value)" [(ngModel)]="selectedChauffeur">
                                        <input type="text" hidden name='id_chauffeur' [(ngModel)]="idSelectedChauffeur" ngModel>
                                        <ol class="list-group" #listSelectedChauffeur>
                                            <li class="list-group-item" (click)="selectChauffeur(chauffeur)" *ngFor="let chauffeur of chauff" value="{{chauffeur?.id_chauffeur}}">
                                                {{chauffeur?.nom_ch}}
                                            </li>
                                        </ol>
                                    </div>

                                    <div class="form-group col-md-3">
                                        <label for="des_boite">boite:</label>
                                        <input type="text" class="form-control" #inputboite ngModel name='des_boite' (keyup)="chercherBoite(inputboite.value)" [(ngModel)]="selectedBoite">
                                        <input type="text" hidden name='id_typeBoite' [(ngModel)]="idSelectedBoite" ngModel>
                                        <ol class="list-group" #listSelectedBoite>
                                            <li class="list-group-item" (click)="selectBoite(boite)" *ngFor="let boite of boiteV" value="{{boite.id_typeBoite}}">
                                                {{boite?.des_boite}}
                                            </li>
                                        </ol>
                                    </div>

                                    <div class="form-group col-md-3">
                                        <label for="des_energie">energie:</label>
                                        <input type="text" class="form-control" #inputenergie ngModel name='des_energie' (keyup)="chercherEnergie(inputenergie.value)" [(ngModel)]="selectedEnergie">
                                        <input type="text" hidden name='id_energie' [(ngModel)]="idSelectedEnergie" ngModel>
                                        <ol class="list-group" #listSelectedEnergie>
                                            <li class="list-group-item" (click)="selectEnergie(energies)" *ngFor="let energies of energieV" value="{{energies.id_energie}}">
                                                {{energies?.des_energie}}
                                            </li>
                                        </ol>
                                    </div>
                                </div>

                            </div>
                            <h5 style="color:gray">Assurance</h5>
                            <br>
                            <div class="row">

                                <div class="form-group col-md-3 ">
                                    <label for="compagnie_ass">compagnie</label>
                                    <input type="text" class="form-control" #inputassurance ngModel name='compagnie_ass' (keyup)="chercherAssurance(inputassurance.value)" [(ngModel)]="selectedassurance">
                                    <input type="text" hidden name='id_assurance' [(ngModel)]="idSelectedAssurance" ngModel>
                                    <ol class="list-group" #listSelectedAssurance>
                                        <li class="list-group-item" (click)="selectAssurance(assurance)" *ngFor="let assurance of assur" value="{{assurance?.id_assurance}}">
                                            {{assurance?.compagnie_ass}}
                                        </li>
                                    </ol>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="date_deb_contrat">date debut contrat:</label>
                                    <input type="date" min="2019-04-03" class="form-control" ngModel name="date_deb_contrat" id="date_deb_contrat">

                                </div>

                                <div class="form-group col-md-3">
                                    <label for="date_fin_contrat">date fin contrat:</label>
                                    <input type="date" min="2019-04-03" class="form-control" ngModel name="date_fin_contrat" id="date_fin_contrat">

                                </div>
                                <div class="form-group col-md-3">
                                    <label for="montant_contrat">montant assurance:</label>
                                    <input type="text" class="form-control" ngModel name="montant_contrat" id="montant_contrat" (keyup)="inputValidator($event)" (change)="inputCleaner($event)">
                                </div>

                            </div>
                            <h5 style="color:gray">Visite technique</h5>
                            <br>
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label for="date_deb_visit_tech">date debut visite technique:</label>
                                    <input type="date" class="form-control" min="2019-04-03" ngModel name="date_deb_visit_tech" id="date_deb_visit_tech">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="date_fin_visit_tech">date fin visite technique:</label>
                                    <input type="date" class="form-control" ngModel name="date_fin_visit_tech" id="date_fin_visit_tech">
                                </div>

                                <div class="form-group col-md-3">
                                    <label for="montant_visit_tech">montant visite technique:</label>
                                    <input type="text" class="form-control" ngModel name="montant_visit_tech" id="montant_visit_tech" (keyup)="inputValidator($event)" (change)="inputCleaner($event)">
                                </div>
                            </div>
                            <h5 style="color:gray">Vignette</h5>
                            <br>
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label for="date_deb_vig">date debut vignette:</label>
                                    <input type="date" class="form-control" min="" ngModel name="date_deb_vig" id="date_deb_vig">

                                </div>
                                <div class="form-group col-md-3">
                                    <label for="date_fin_vig">date fin vignette:</label>
                                    <input type="date" class="form-control" ngModel name="date_fin_vig" id="date_fin_vig">

                                </div>
                                <div class="form-group col-md-3">
                                    <label for="montant_vig">montant vignette:</label>
                                    <input type="text" class="form-control" ngModel name="montant_vig" id="montant_vig" (keyup)="inputValidator($event)" (change)="inputCleaner($event)">

                                </div>
                            </div>
                            <div class="form-group col-md-2">
                                <br>
                                <button type="submit" (click)="add(formulaire)" class="btn btn-success">Enregistrer</button>
                            </div>
                        </div>

                    </div>
                </div>
            </form>

            <br><br>
        </div>
    </div>
</div>

<router-outlet></router-outlet>