<div class="container">
    <div class="card">
      <div class="card-body">
    <h5 style="color:gray">Liste des energies</h5>
    <br>
    <table class="table">
      <thead class="thead-light">
        <th>identifiant</th>
        <th>energie</th>
        <th></th>
        <th></th>
        <th></th>
      </thead>
      <tbody>
      <tr *ngFor="let energie of energies ;let i=index">
        <td>{{energie?.id_energie}}</td>
        <td>{{energie?.des_energie}}</td>
        <td><button type="button" class="btn btn-success" (click)="edit(energie.id_energie)" ><i class="fa fa-pencil"></i></button></td>  
        <td><button type="button" (click)="delete(energie.id_energie)" class="btn btn-danger" ><i class="fa fa-trash-o"></i></button></td>
      </tr>
    </tbody>
    </table>
    </div>
    </div>
  </div>

