<div class="row"  >
    <div style="margin-right: 2%">
      <div class="card">
        <div class="card-body">
      <h5 style="color:gray">Liste des véhicules</h5>
      <br>
      <table class="table" >
        <thead class="thead-light">
          <tr>
          <th>immatriculation</th>
          <th>Chauffeur</th>
          <th>cout d'achat</th>
          <th>energie</th>
          <th>type boite</th>
          <th>type vehicule</th>
          <th>affectation</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let vehicule of vehicules ;let i=index">
          <td>{{vehicule?.id_immatriculation}}</td>
          <td>{{vehicule?.chauffeur_v?.nom_ch}}</td>
          <td>{{vehicule?.cout_achat}}</td>
          <td>{{vehicule?.energie_v?.des_energie}}</td>
          <td>{{vehicule?.type_boite?.des_boite}}</td>
          <td>{{vehicule?.type_vehicule?.des_typeVehicule}}</td>
          <td>{{vehicule?.affectation_vehicule?.des_affectation}}</td>
                  
      <td><button type="button" class="btn btn-success" (click)="edit(vehicule.id_immatriculation)" >Modifier</button></td>
          <td><button type="button" class="btn btn-danger" (click)="delete(vehicule.id_immatriculation,i)"  >Supprimer</button></td>
        </tr> 
      </tbody>
      </table> 

    
     <!--   <ul class="nav nav-pillls">
          <li class="nav-item " *ngFor="let p of pages ; let i=index">
            <a class="nav-link" (click)="SetPage(i,$event)"  aria-disabled="true">{{i}}</a>
          </li>
          
        </ul>

        -->
      

      </div>
      </div>
    </div>
  </div>