<br>

<br>
<div class="row" style="margin-left: 80%">
    <br>
    <div class="form-group col-md-3">
        <a routerLink="/addVehicule" style="margin-left: 85%">
            <button type="button" class="btn btn-dark"><i class="fa fa-plus"></i></button>
        </a>
    </div>
</div>
<br>
<div style="margin-left: 15%">
    <div class="row">
        <div>
            <div class="card">
                <div class="card-body">
                    <h5 style="color:gray">Liste des véhicules</h5>
                    <br>
                    <table class="table" id="myTable">
                        <thead class="thead-light">
                            <tr>
                                <th>Immatriculation</th>
                                <th>Chauffeur</th>
                                <th>Coût d'achat</th>
                                <th>Energie</th>
                                <th>Type de boite</th>
                                <th>Type de véhicule</th>
                                <th>Affectation</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let vehicule of vehicules | paginate: config ;let i=index">
                                <td>{{vehicule?.immatriculation}}</td>
                                <td>{{vehicule?.chauffeur_v?.nom_ch}}</td>
                                <td>{{vehicule?.cout_achat | number}}</td>
                                <td>{{vehicule?.energie_v?.des_energie}}</td>
                                <td>{{vehicule?.type_boite?.des_boite}}</td>
                                <td>{{vehicule?.type_vehicule?.des_typeVehicule}}</td>
                                <td>{{vehicule?.affectation_vehicule?.des_affectation}}</td>

                                <td>
                                    <button type="button" class="btn btn-success" (click)="edit(vehicule.id_vehicule)">
                                       <i class="fa fa-pencil"></i>
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" (click)="delete(vehicule.id_vehicule,i)">
                                       <i class="fa fa-trash-o"></i>
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-info" (click)="download(vehicule,i)">
                                                    <i class="fa fa-download"></i>
                                        </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>