<div class="row" >
    <div class="container ">
      <div class="card">
        <div class="card-body">
      <h5 style="color:gray">Liste des affectations</h5>
      <br>
      <table class="table" >
        <thead class="thead-light">
          <th>identifiant</th>
          <th>affectation</th>
        </thead>
        <tr *ngFor="let affectation of affectation ;let i=index">
          <td>{{affectation?.id_affectation}}</td>
          <td>{{affectation?.des_affectation}}</td>

        <!-- <td><button type="button" class="btn btn-success" (click)="edit(vehicule.id_immatriculation)">Modifier</button></td>
          <td><button type="button" class="btn btn-info" [routerLink]="['/vehicule/info', vehicule?.id_immatriculation]">View</button></td> 
          <td><button type="button" class="btn btn-danger" (click)="delete(vehicule.id_immatriculation , i)">Supprimer</button></td>
        --></tr>
      </table>
      </div>
      </div>
    </div>
  </div>
