<div class="row" >
    <div class="container ">
      <div class="card">
        <div class="card-body">
      <h5 style="color:gray">Liste des affectations</h5>
      <br>
      <table class="table" >
        <thead class="thead-light">
          <th>identifiant</th>
          <th>affectation</th>
          <th></th>
          
          <th></th>
        </thead>
        <tr *ngFor="let affectation of affectations ;let i=index">
          <td>{{affectation?.id_affectation}}</td>
          <td>{{affectation?.des_affectation}}</td>

         <td><button type="button" class="btn btn-success" >Modifier</button></td>
           
          <td><button type="button" class="btn btn-danger" (click)="delete(affectation.id_affectation,i)" >Supprimer</button></td>
        </tr>
      </table>
      </div>
      </div>
    </div>
  </div>

<!--<div>hello</div>
<div *ngFor="let affectation of affectations">
  {{affectation|json}}
</div>
-->