<div class="row" style="margin-top: 2%">
  <div class="container"> <!-- espace al jneb-->
    <!--<h4 style="color:darkred">liste des chauffeurs</h4> -->
    
    <a routerLink="/depenses/addDepense" style="margin-left: 85%">
      <button  type="button" class="btn btn-dark"  >ajouter une depense</button>
    </a>
    <br>
    <br>
    
    <a routerLink="/depenses/listDepense" style="margin-left: 85%">
      <button  type="button" class="btn btn-dark"  >consulter la liste</button>
    </a>
    

    <hr>
    <br   >

<router-outlet></router-outlet>
<br>
<!--<app-list-chauffeur></app-list-chauffeur> -->
<div style="margin-bottom: 7%"></div>
</div>
</div>
