<br>
<div class="row">
    <div class="form-group col-md-3" style="margin-left: 75%">
        <button type="button" class="btn btn-info" (click)="gotoList()">Consulter liste</button>
    </div>
    <div class="form-group col-md-3" style="margin-left: 75%">
        <button type="button" class="btn btn-info" (click)="gotoListCarburant()">Consulter dépense carburant</button>
    </div>
</div>

<div class="card text-center" style="margin-top: 2%">
    <div class="card-header">
        <h5 style="color:midnightblue">Ajouter une dépense</h5>
    </div>
    <div class="card-body">
        <form #formulaire="ngForm">
            <div>
                <div id="selectedDepense" class="row">


                    <div class="form-group col-sm-2 ">

                        <label for="immatriculation">Véhicule :</label>
                        <input type="text" class="form-control" #inputImmatricul ngModel name='immatriculation' autocomplete="off" (keyup)="chercherVehicule(inputImmatricul.value)" [(ngModel)]="selectedVehicule">
                        <input type="text" hidden name='id_vehicule' [(ngModel)]="idSelectedVehicule" ngModel>
                        <ol class="list-group" #listSelectedVehicule>
                            <li class="list-group-item" (click)="selectVehicule(vehicule)" *ngFor="let vehicule of vehicules" value="{{vehicule?.id_vehicule}}">
                                {{vehicule?.immatriculation}}
                            </li>
                        </ol>
                    </div>
                    <div class="form-group col-sm-3.5">
                        <label for="date_depense">Date de dépense:</label>
                        <input type="date" required class="form-control" id="date_depense" ngModel name="date_depense" #dateDep="ngModel" max="2019-07-12">
                    </div>
                    <div class="form-group col-sm-2 ">
                        <label for="designation_typeDep">Type de dépense :</label>
                        <input type="text" class="form-control" #inpuTypeDep ngModel name='designation_typeDep' autocomplete="off" (keyup)="chercherTypeDepense(inpuTypeDep.value)" [(ngModel)]="selectedTypeDepense">
                        <input type="text" hidden name='id_typeDepense' [(ngModel)]="idSelectedTypeDepense" ngModel>
                        <ol class="list-group" #listSelectedType>
                            <li class="list-group-item" (click)="selectTypeDepense(type)" *ngFor="let type of typeDep" value="{{type?.id_typeDepense}}">
                                {{type?.designation_typeDep}}
                            </li>
                        </ol>
                    </div>
                </div>
                <hr>

                <div class="row" style="margin-left: 15%">
                    <div *ngIf=" ! isSelectedPiece">
                        <label for="montant_carburant">Montant carburant :</label>
                        <input type="text" class="form-control col-md-12" id="montant_carburant" pattern="[0-9]+" ngModel name="montant_carburant" #montantcarburant="ngModel">
                        <div *ngIf="montantcarburant.invalid && montantcarburant.touched" style="color:red" class="alert alert-light" role="alert">
                            montant invalide
                        </div>
                    </div>
                </div>

                <div *ngIf="iSelectPiece">
                    <h5 style="color:midnightblue">Choisir la liste des pièces</h5>
                    <br>
                    <table class="table" #myTable>
                        <thead class="thead-light">
                            <!-- <th> depense </th>-->
                            <th> Pièce </th>
                            <th>Référence</th>
                            <th>Qte</th>
                            <th>PU</th>
                            <th>HT</th>
                            <th>TVA</th>
                            <th>TTC</th>
                            <th></th>
                            <th></th>
                            <th>
                                <button type="button" (click)="ajouterLigne()" class="btn btn-success"><i class="fa fa-plus"></i></button>
                            </th>
                        </thead>
                        <tbody>

                            <tr *ngFor="let d of depensePiece ;let i=index">
                                <!-- <th>
                                     <input type="text" required class="form-control col-sm-7" (blur)="selectionner(despiece,i)" id="des_piece" ngModel name="des_piece" value="piece.des_piece" #despiece="ngModel">
                                    <div class="form-group col-sm-12 ">

                                        <input type="text" name='id_depense' value="{{d.id_depense}}">


                                    </div>
                                </th>
                            -->
                                <th>

                                    <div class="form-group col-sm-12 ">
                                        <input type="text" class="form-control" #inputPiece ngModel name='des_piece' autocomplete="off" (keyup)="chercherPiece(inputPiece.value)" #despiece="ngModel" value="{{d.piece_des}}">
                                        <input type="text" name='id_piece' hidden [(ngModel)]="idSelectedPiece" ngModel value="{{d.piece_id}}">
                                        <ol class="list-group" #listSelectedPiece>
                                            <li class="list-group-item" (click)="selectPiece(p,i)" *ngFor="let p of pieces" value="{{p?.id_piece}}">
                                                {{p?.des_piece}}
                                            </li>
                                        </ol>
                                    </div>

                                </th>
                                <th>{{d.reference}}</th>
                                <th>
                                    <!-- ngModel name="qte" #qte="ngModel"-->
                                    <input type="text" (change)="recalculer(qte,i)" placeholder="1" autocomplete="off" required class="form-control col-sm-7" value="{{d.qte}}" id="qte" pattern="[1-9]+" ngModel name="qte" #qte="ngModel">
                                </th>
                                <th>{{d.prix | number}}</th>
                                <th>
                                    <!--<input type="text" placeholder="0.000" class="form-control col-sm-7" value="{{d.hors_taxe}}" id="hors_taxe" pattern="[1-9]+" ngModel name="hors_taxe" #horstaxe="ngModel">-->

                                    {{d.hors_taxe |number}}
                                </th>
                                <th>
                                    {{d.tva_dp}}%
                                </th>
                                <th>
                                    {{d.ttc_dp | number}}
                                </th>
                                <th></th>
                                <th>
                                    <!--<button type="button" (click)="ajouterLigne(i)" class="btn btn-success"><i class="fa fa-plus"></i></button>--></th>
                                <th><button type="button" (click)="supprimerLigne(i)" class="btn btn-danger"><i class="fa fa-trash-o"></i></button></th>
                            </tr>

                        </tbody>
                    </table>


                    <div style="margin-left: 70%" class="form-group col-sm-2">
                        <label for="hors_taxe"> Totale HT : {{total_ht | number}}</label>
                        <br>
                        <label for="ttc">Totale TTC :  {{total_ttc | number}} </label>


                    </div>

                </div>
            </div>
        </form>
    </div>
</div>
<div class="card-footer text-muted">
    <!-- <div style="margin-left: 70%" class="form-group col-sm-2">
        <label for="hors_taxe"> Totale HT : {{total_ht | number}}</label>
        <br>
        <label for="ttc">Totale TTC :  {{total_ttc | number}} </label>


    </div>
    -->
    <div class="form-group col-md-2">
        <br>
        <div>
            <button type="submit" style="margin-left: 500%" (click)="add(formulaire)" class="btn btn-success">Enregistrer</button>
        </div>
    </div>

</div>
<br>