<br>
<div class="card text-center" style="margin-top: 2%">
    <div class="card-header">
        <h5>Ajouter une dépense</h5>
    </div>
    <div class="card-body">
        <form #formulaire="ngForm">
            <div>
                <div class="row">
                    <div class="form-group col-sm-2 ">
                        <label for="immatriculation">Véhicule :</label>
                        <input type="text" class="form-control" #inputImmatricul ngModel name='immatriculation' autocomplete="off" (keyup)="chercherVehicule(inputImmatricul.value)" [(ngModel)]="selectedVehicule">
                        <input type="text" hidden name='id_vehicule' [(ngModel)]="idSelectedVehicule" ngModel>
                        <ol class="list-group" #listSelectedVehicule>
                            <li class="list-group-item" (click)="selectVehicule(vehicule)" *ngFor="let vehicule of vehicules" value="{{vehicule?.id_vehicule}}">
                                {{vehicule?.immatriculation}}
                            </li>
                        </ol>
                    </div>
                    <div class="form-group col-sm-3.5">
                        <label for="date_depense">Date de dépense:</label>
                        <input type="date" required class="form-control" id="date_depense" ngModel name="date_depense" #dateDep="ngModel" max="2019-06-06">
                    </div>
                    <div class="form-group col-sm-2 ">
                        <label for="designation_typeDep">Type de dépense :</label>
                        <input type="text" class="form-control" #inpuTypeDep ngModel name='designation_typeDep' autocomplete="off" (keyup)="chercherTypeDepense(inpuTypeDep.value)" [(ngModel)]="selectedTypeDepense">
                        <input type="text" hidden name='id_typeDepense' [(ngModel)]="idSelectedTypeDepense" ngModel>
                        <ol class="list-group" #listSelectedType>
                            <li class="list-group-item" (click)="selectTypeDepense(type)" *ngFor="let type of typeDep" value="{{type?.id_typeDepense}}">
                                {{type?.designation_typeDep}}
                            </li>
                        </ol>
                    </div>
                </div>
                <hr>
                <div *ngIf="isSelectedPiece">
                    <h5 style="color:gray">Choisir les pièces</h5>
                    <br>
                    <table class="table">
                        <thead class="thead-light">
                            <th> Pièce </th>
                            <th>Type de pièce </th>
                            <th>Référence</th>
                            <th>Qte</th>
                            <th>PU</th>
                            <th>TVA</th>
                            <th>TTC</th>
                            <th><button type="button" (click)="ajouterLigne()" class="btn btn-success"><i class="fa fa-plus"></i></button></th>
                            <th></th>

                        </thead>
                        <tbody>
                            <tr *ngFor="let piece of listPieces">
                                <th>
                                    <div class="form-group col-sm-12 ">
                                        <input type="text" class="form-control" #inputPiece ngModel name='des_piece' autocomplete="off" (keyup)="chercherPiece(inputPiece.value)" [(ngModel)]="selectedPiece">
                                        <input type="text" hidden name='id_piece' [(ngModel)]="idSelectedPiece" ngModel>
                                        <ol class="list-group" #listSelectedPiece>
                                            <li class="list-group-item" (click)="selectPiece(p)" *ngFor="let p of pieces" value="{{p?.id_piece}}">
                                                {{p?.des_piece}}
                                            </li>
                                        </ol>
                                    </div>
                                </th>
                                <th>{{piece?.type_piece_p?.des_typePiece}}</th>
                                <th>{{piece?.reference_piece}}</th>
                                <th>
                                    <input type="text" required class="form-control col-sm-7" value=1 id="qte_p" pattern="[1-9]+" ngModel name="qte_p" #qtep="ngModel">
                                    <p *ngIf="qtep.invalid && qtep.touched " style="color:red" class="alert alert-light" role="alert">
                                        Qte invalide
                                    </p>
                                </th>
                                <th>{{piece?.prix_achat}}</th>
                                <th>{{piece?.tva_p}}</th>
                                <th>
                                    <input required type="text" pattern="[1-9.,0-9]+" class="form-control col-sm-8" id="ttc_p" ngModel name="ttc_p" #ttcp="ngModel">

                                </th>
                                <th></th>
                                <th></th>
                                <th><button type="button" (click)="supprimerLigne(piece)" class="btn btn-danger"><i class="fa fa-trash-o"></i></button></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </form>
    </div>
</div>
<div class="card-footer text-muted">
    <div style="margin-left: 70%" class="form-group col-sm-2">
        <label for="montant_ht">montant totale:</label>
        <input required type="text" pattern="[1-9.,0-9]+" class="form-control" id="montant_ht" ngModel name="montant_ht" #montantht="ngModel">
        <div *ngIf="montantht.invalid && montantht.touched" style="color:red" class="alert alert-light" role="alert">
            montant invalide
        </div>
    </div>
    <div class="form-group col-md-2">
        <br>
        <div>
            <button type="submit" style="margin-left: 500%" (click)="add(formulaire)" class="btn btn-success">Enregistrer</button>
        </div>
    </div>

</div>
<br>
<div>
    <div class="form-group col-md-3" style="margin-left: 75%">
        <button type="button" class="btn btn-success" routerLink="/listDepense">Consulter liste</button>
    </div>
</div>