<form class="form-group">
    <div class="row">
      <div class="form-group col-sm-3">
        <label for="compagnie_ass">compagnie</label>
        <input type="text" class="form-control" id="compagnie_ass" >
      </div>
      <div class="form-group col-sm-3">
          <label for="adr_assurance">adresse</label>
          <input type="text" class="form-control" id="adr_assurance" >
        </div>
        <div class="form-group col-sm-3">
            <label for="tel_assurance">téléphone</label>
            <input type="text" class="form-control" id="tel_assurance" >
          </div>
    </div>
    <br>
    <div>
        <button type="submit" class="btn btn-success">Enregistrer</button>
      </div>
  
  </form>
