<br>
<br>
<div style="margin-left: 5%">
    <form #formulaire="ngForm" *ngIf="typeVehicule">
        <h5>Modifier le type</h5>
        <div class="row">
            <div class="form-group col-md-3 ">
                <label for="des_typeVehicule">type de véhicule</label>
                <input type="text" class="form-control" #typevehicule="ngModel" [(ngModel)]="typeVehicule.des_typeVehicule" name="des_typeVehicule" pattern='[a-zA-Z ]+' minlength="1" maxlength="25">
                <div *ngIf="typevehicule.invalid && typevehicule.touched" style="color:red" class="alert alert-light" role="alert">
                    type invalide
                </div>
            </div>

        </div>

        <br>
        <div>
            <button type="submit" (click)="modifier(typeVehicule)" class="btn btn-success">Enregistrer</button>
        </div>

    </form>
</div>