<!--
<div class="row">
  <div style="margin-left: 4%">
  <div >
    <br>
    <form #formulaire="ngForm" >
      <div class="col-md-12">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="panel-body">
              <h5 style="color:gray">filtrer : </h5>
              <br>
            <div class="row">
              <div class="form-group col-md-6">
                  <label for="compagnie_ass">Véhicule</label>
                  <input type="text" class="form-control"
                               #inputImmatricul
                               ngModel name='immatriculation'
                               (keyup)="chercherVehicule(inputImmatricul.value)"
                               [(ngModel)]="selectedVehicule"
                        > 
                        <input type="text"
                               hidden  
                               name='id_vehicule'
                               [(ngModel)]="idSelectedVehicule"
                               ngModel
                        >
                        <ol class = "list-group" #listSelectedVehicule>
                            <li class="list-group-item" (click)="selectVehicule(vehicule)" 
                                *ngFor="let vehicule of vehicule" 
                                value="{{vehicule?.id_vehicule}}">
                                {{vehicule?.immatriculation}}
                            </li>
                        </ol>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="des_energie">energie:</label>
                            <input type="text" class="form-control"
                                 #inputenergie
                                ngModel name='des_energie'
                                 (keyup)="chercherEnergie(inputenergie.value)"
                                 [(ngModel)]="selectedEnergie"
                            >
                            <input type="text"
                                 hidden  
                                 name='id_energie'
                                 [(ngModel)]="idSelectedEnergie"
                                 ngModel 
                          >
                          <ol class = "list-group" #listSelectedEnergie>
                              <li class="list-group-item" (click)="selectEnergie(energies)" 
                                  *ngFor="let energies of energieV" 
                                  value="{{energies.id_energie}}">
                                  {{energies?.des_energie}}
                              </li>
                          </ol>
                        </div>
                        </div>
                        <div>
                        <a routerLink="/filtrage/filtre" style="margin-left: 85%">
                          <button  type="button" (click)="goToFiltre()"  class="btn btn-dark"  >Rechercher</button>
                        </a> 
                      </div>
          </div>
        </div>
        </div>
      </div>
    </form>
    <br><br>
  </div>
</div>
</div>
<!--<form>
<div class="row">
  
<div style="margin-top: 2% ; margin-right: 2%">
  <div class="form-group col-sm-3">
  <label for="compagnie_ass">Véhicule</label>
  <input type="text" class="form-control"
               #inputImmatricul
               ngModel name='immatriculation'
               (keyup)="chercherVehicule(inputImmatricul.value)"
               [(ngModel)]="selectedVehicule"
        > 
        <input type="text"
               hidden  
               name='id_vehicule'
               [(ngModel)]="idSelectedVehicule"
               ngModel
        >
        <ol class = "list-group" #listSelectedVehicule>
            <li class="list-group-item" (click)="selectVehicule(vehicule)" 
                *ngFor="let vehicule of vehicule" 
                value="{{vehicule?.id_vehicule}}">
                {{vehicule?.immatriculation}}
            </li>
        </ol>
</div>
<!--<div class="form-group col-md-3 ">
  <label for="des_energie">Carburant:</label>
           <select class="form-control" ngModel name="id_energie">
                    <option *ngFor="let energie of energie" value="{{energie?.id_energie}}" >
                            {{energie?.des_energie}}</option>
                  </select>
                
</div>
-->

<div style="margin-top: 2%">
<div class="container">
  <div class="card" >
    <div class="card-body">
  <h5 style="color:gray">Liste des depenses en DT </h5>
  <br>
  <table class="table">
    <thead class="thead-light">
      <th>immatriculation </th>
      <th>janvier</th>
      <th>fevrier</th>
      <th>mars</th>
      <th>avril</th>
      <th>mai</th>
      <th>juin</th>
      <th>juillet</th>
      <th>aout</th>
      <th>septembre</th>
      <th>octobre</th>
      <th>novembre</th>
      <th>decembre</th>
      <th>Graphe</th>
      <th></th>
    </thead>
    <tbody>
    <tr *ngFor="let depense of depenseResponses ;let i=index">
      <th>{{depense?.immatriculation}}</th>
      <td>{{depense?.dep_janvier | number }}</td>
      <td>{{depense?.dep_fevrier | number }}</td>
      <td>{{depense?.dep_mars | number }}</td>
      <td>{{depense?.dep_avril | number }}</td>
      <td>{{depense?.dep_mai | number }}</td>
      <td>{{depense?.dep_juin | number }}</td>
      <td>{{depense?.dep_juillet | number }}</td>
      <td>{{depense?.dep_aout | number }}</td>
      <td>{{depense?.dep_septembre | number }}</td>
      <td>{{depense?.dep_octobre | number }}</td>
      <td>{{depense?.dep_novembre | number }}</td>
      <td>{{depense?.dep_decembre | number }}</td>
      <td>
        <button type="button" class="btn btn-info" (click)="GoTograh(depense.immatriculation)"> Voir graphe</button>
      </td>
    </tr> 
  </tbody> 
  </table>
  </div>
  </div>
</div>
</div>

