<br><br><br>
<div class="col-md-9 container">
    <div class="card">
      <div class="card-body">
    <h2>véhicule Infos : </h2>
    <hr>
    <br>
    <div class="row">
      <div class="col-md-6">
          <div class="row">
              <div class="col-md-3">
              <h6> Id : </h6>
            </div>
            <div class="col-md-6">
              {{vehicule?.id_player}}
            </div>
            </div>
          <div class="row">
              <div class="col-md-3">
              <h6> Nom : </h6>
            </div>
            <div class="col-md-6">
              {{vehicule?.nom}}
            </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                <h6> Prénom : </h6>
              </div>
              <div class="col-md-6">
                {{vehicule?.prenom}}
              </div>
              </div>
              <div class="row">
                  <div class="col-md-3">
                  <h6> Equipe : </h6>
                </div>
               <!-- <div class="col-md-6">
                  {{vehicule?.equipe?.nom_equipe}}
                </div> -->
                </div>
      </div>

    <div class="col-md-6" >
        <div class="row">
            <div class="col-md-3">
            <h6> Position : </h6>
          </div>
          <div class="col-md-6">
            {{vehicule?.position}}
          </div>
          </div>
          <div class="row">
              <div class="col-md-3">
              <h6> Numéro : </h6>
            </div>
            <div class="col-md-6">
              {{vehicule?.num}}
            </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                <h6> Poids : </h6>
              </div>
              <div class="col-md-6">
                {{vehicule?.poids}}
              </div>
              </div>
              <div class="row">
                  <div class="col-md-3">
                  <h6>  Taille : </h6>
                </div>
                <div class="col-md-6">
                  {{vehicule?.taille}}
                </div>
                </div>
      </div>
</div>
</div>
</div>
  <br><br>
</div>
