<br>
<div class="row" style="margin-left: 0%">
    <br>
    <div class="form-group col-md-3">
        <a routerLink="/chercherVehicule" style="margin-left: 85%">
            <button type="button" class="btn btn-info"><i class="fa fa-arrow-left"></i></button>
        </a>
    </div>
</div>

<br>
<br>
<div style="margin-left: 15%">
    <div class="row">
        <div>
            <div class="card">
                <div class="card-body">
                    <h5 style="color:gray">Liste des véhicules par carburant</h5>
                    <br>
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th>immatriculation</th>
                                <th>Chauffeur</th>
                                <th>cout d'achat</th>
                                <th>energie</th>
                                <th>type boite</th>
                                <th>type vehicule</th>
                                <th>affectation</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let vehicule of vehicule ;let i=index">
                                <td>{{vehicule?.immatriculation}}</td>
                                <td>{{vehicule?.chauffeur_v?.nom_ch}}</td>
                                <td>{{vehicule?.cout_achat | number}}</td>
                                <td>{{vehicule?.energie_v?.des_energie}}</td>
                                <td>{{vehicule?.type_boite?.des_boite}}</td>
                                <td>{{vehicule?.type_vehicule?.des_typeVehicule}}</td>
                                <td>{{vehicule?.affectation_vehicule?.des_affectation}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>