<br>
<div style="margin-left: 2%;font-style:italic">Connecté tant que {{role}}</div>
<br>
<!--
<div style="margin-left: 2%">
    <div class="row">
        <div class="col-sm-3">
            <div class="card border-info mb-3">
                <div class="card-body ">
                    <h5 class="card-title ">Consulter les véhicules <i class="fa fa-truck"></i></h5>
                    <p class="card-text "></p>
                    <a routerLink='/Vehicule' class="btn btn-primary ">Véhicules</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card border-info mb-3">
                <div class="card-body ">
                    <h5 class="card-title ">Consulter les chauffeurs <i class="fa fa-male"></i></h5>
                    <p class="card-text "></p>
                    <a routerLink='/Chauffeur' class="btn btn-primary ">Chauffeurs</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card border-info mb-3">
                <div class="card-body ">
                    <h5 class="card-title ">Consulter les dépenses <i class="fa fa-money"></i></h5>
                    <p class="card-text "></p>
                    <a routerLink='/Chauffeur' class="btn btn-primary ">Chauffeurs</a>
                </div>
            </div>
        </div>
    </div>
</div>
-->


<br>
<div class="main-content" style="margin-left: 5%">
    <div class="container-fluid">
        <div class="row">

            <div _ngcontent-c5="" class="col-lg-3 col-md-6 col-sm-6">
                <div _ngcontent-c5="" class="card card-stats" style="background-color: lightcoral">
                    <div _ngcontent-c5="" class="card-header card-header-warning card-header-icon">
                        <div _ngcontent-c5="" class="card-icon"><i _ngcontent-c5="" style="font-style: normal" class="fa fa-truck"> Véhicule dans le parc</i></div>
                        <!--   <p _ngcontent-c5="" class="card-category">Used Space</p> -->
                        <h3 _ngcontent-c5="" class="card-title">{{nombre}} <small _ngcontent-c5="">Véhicule</small></h3>
                    </div>
                    <div _ngcontent-c5="" class="card-footer">
                        <!--   <div _ngcontent-c5="" class="stats"><i _ngcontent-c5="" class="material-icons">access_time</i> updated 4 minutes ago </div> -->
                    </div>
                </div>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div _ngcontent-c5="" class="col-lg-3 col-md-6 col-sm-6">
                <div _ngcontent-c5="" class="card card-stats " style="background-color: palegoldenrod">
                    <div _ngcontent-c5="" class="card-header card-header-warning card-header-icon">
                        <!-- <div _ngcontent-c5="" class="card-icon"><i _ngcontent-c5="" style="font-style: italic" class="fa fa-truck"> Véhicule dans le parc</i></div>-->
                        <!--   <p _ngcontent-c5="" class="card-category">Used Space</p> -->
                        <h3 _ngcontent-c5="" class="card-title">{{nbPartner}} <small _ngcontent-c5="">Partner</small></h3>
                        <h3 _ngcontent-c5="" class="card-title">{{nbCamion}} <small _ngcontent-c5="">Camion</small></h3>
                        <h3 _ngcontent-c5="" class="card-title">{{nbVoiture}} <small _ngcontent-c5="">Voiture</small></h3>
                    </div>

                </div>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div _ngcontent-c5="" class="col-lg-3 col-md-6 col-sm-6">
                <div _ngcontent-c5="" class="card card-stats" style="background-color: lightskyblue">
                    <div _ngcontent-c5="" class="card-header card-header-warning card-header-icon">
                        <div _ngcontent-c5="" class="card-icon"><i _ngcontent-c5="" style="font-style: italic" class="fa fa-male"> Chauffeurs dans le parc</i></div>
                        <!--   <p _ngcontent-c5="" class="card-category">Used Space</p> -->
                        <h3 _ngcontent-c5="" class="card-title">{{nbChauff}} <small _ngcontent-c5=""> Chauffeur</small></h3>
                    </div>
                    <div _ngcontent-c5="" class="card-footer">
                        <!--   <div _ngcontent-c5="" class="stats"><i _ngcontent-c5="" class="material-icons">access_time</i> updated 4 minutes ago </div> -->
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<br>
<br>
<div style="margin-left: 20%">
<h5 style="margin-left: 9%"> Energie par véhicule</h5>
<br>
<div style="left:10px; width:500px; height:500px;margin-left: 5%">

    <div class="chartjs-wrapper">

        <canvas id="canvas" class="chartjs"> {{charts}}</canvas>
    </div>

</div>
</div>


<!--<app-footer></app-footer>-->