<div _ngcontent-c5="" class="col-lg-3 col-md-6 col-sm-6">
  <div _ngcontent-c5="" class="card card-stats">
    <div _ngcontent-c5="" class="card-header card-header-warning card-header-icon">
      <div _ngcontent-c5="" class="card-icon">
        <i _ngcontent-c5="" class="material-icons">véhicule</i>
      </div>
      <p _ngcontent-c5="" class="card-category">nombre</p>
      <h3 _ngcontent-c5="" class="card-title">49/50 
        <small _ngcontent-c5="">GB</small>
      </h3>
    </div>
    <div _ngcontent-c5="" class="card-footer">
      <div _ngcontent-c5="" class="stats">
        <i _ngcontent-c5="" class="material-icons text-danger">warning</i>
         <a _ngcontent-c5="" href="#pablo">Get More Space...</a>
      </div>
    </div>
  </div>
</div>