<!--<div style="margin-top: 3%">
    hello
    <div class="chartjs-wrapper">
        <canvas id="canvas" class="chartjs"> {{chart}}</canvas>
    </div>
</div>
-->
<br>
<div style="margin-left: 2%">connecté tant que {{role}}</div>
<br>
<!--
<div style="margin-left: 2%">
    <div class="row">
        <div class="col-sm-3">
            <div class="card border-info mb-3">
                <div class="card-body ">
                    <h5 class="card-title ">Consulter les véhicules <i class="fa fa-truck"></i></h5>
                    <p class="card-text "></p>
                    <a routerLink='/Vehicule' class="btn btn-primary ">Véhicules</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card border-info mb-3">
                <div class="card-body ">
                    <h5 class="card-title ">Consulter les chauffeurs <i class="fa fa-male"></i></h5>
                    <p class="card-text "></p>
                    <a routerLink='/Chauffeur' class="btn btn-primary ">Chauffeurs</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card border-info mb-3">
                <div class="card-body ">
                    <h5 class="card-title ">Consulter les dépenses <i class="fa fa-money"></i></h5>
                    <p class="card-text "></p>
                    <a routerLink='/Chauffeur' class="btn btn-primary ">Chauffeurs</a>
                </div>
            </div>
        </div>
    </div>
</div>
-->


<br>
<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div _ngcontent-c5="" class="col-lg-3 col-md-6 col-sm-6">
                <div _ngcontent-c5="" class="card card-stats">
                    <div _ngcontent-c5="" class="card-header card-header-warning card-header-icon">
                        <div _ngcontent-c5="" class="card-icon"><i _ngcontent-c5="" style="font-style: italic" class="fa fa-truck"> Véhicule dans le parc</i></div>
                        <!--   <p _ngcontent-c5="" class="card-category">Used Space</p> -->
                        <h3 _ngcontent-c5="" class="card-title">{{nombre}} <small _ngcontent-c5="">Véhicule</small></h3>
                    </div>
                    <div _ngcontent-c5="" class="card-footer">
                        <!--   <div _ngcontent-c5="" class="stats"><i _ngcontent-c5="" class="material-icons">access_time</i> updated 4 minutes ago </div> -->
                    </div>
                </div>
            </div>

            <div _ngcontent-c5="" class="col-lg-3 col-md-6 col-sm-6">
                <div _ngcontent-c5="" class="card card-stats">
                    <div _ngcontent-c5="" class="card-header card-header-warning card-header-icon">
                        <div _ngcontent-c5="" class="card-icon"><i _ngcontent-c5="" style="font-style: italic" class="fa fa-male"> Chauffeurs dans le parc</i></div>
                        <!--   <p _ngcontent-c5="" class="card-category">Used Space</p> -->
                        <h3 _ngcontent-c5="" class="card-title">{{nbChauff}} <small _ngcontent-c5=""> Chauffeur</small></h3>
                    </div>
                    <div _ngcontent-c5="" class="card-footer">
                        <!--   <div _ngcontent-c5="" class="stats"><i _ngcontent-c5="" class="material-icons">access_time</i> updated 4 minutes ago </div> -->
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<app-footer></app-footer>