<div class="container">
    <div class="card">
      <div class="card-body">
    <h5 style="color:gray">Liste des types de boite</h5>
    <br>
    <table class="table">
      <thead class="thead-light">
        <th>identifiant</th>
        <th>type boite</th>
        <th></th>
        <th></th>
        <th></th>
      </thead>
      <tr *ngFor="let typeb of boites ;let i=index">
        <td>{{typeb?.id_typeBoite}}</td>
        <td>{{typeb?.des_boite}}</td>
       <td><button type="button" class="btn btn-success" >Modifier</button></td> 
        <td><button type="button" class="btn btn-info" >View</button></td> 
        <td><button type="button" class="btn btn-danger" >Supprimer</button></td>
      
      </tr>
    </table>
    </div>
    </div>
  </div>



