<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div style="float: center" class="container login-container">
  <div class="row">
    <div class="col-md-6 login-form-1">
      <h3>Connexion</h3>
<form #form="ngForm">
      <div class="form-group">
        <input type="text" id="username" class="form-control" placeholder="username" ngModel name="username"
          pattern='[a-zA-Z ]+' #username="ngModel" minlength="1" maxlength="10">
        <p *ngIf="username.invalid" style="color:red"> veuillez vérifier username</p> />
      </div>
      <div class="form-group">
        <input type="password" id="password" class="form-control" placeholder="Password *" ngModel name="password"
          pattern="[A-Za-z0-9]+" maxlength="10" minlength="1" #motdepasse="ngModel">
        <p *ngIf="motdepasse.invalid" style="color:red"> veuillez vérifier mot de passe</p>/>
      </div>
      <div class="form-group">
        <button mdbBtn color="info" block="true" class="btn btn-light" type="submit" (click)="login(form)">
          se connecter
        </button>
      </div>
    </form>
    </div>
  </div>
</div>




<!--<form #loginFormulaire="ngForm">
  <div class="container">
  <div class="form-group col-md-3">
    <label for="login">login</label>
    <input type="text" class="form-control" id="login"
           ngModel name="login" pattern='[a-zA-Z ]+'
           #username="ngModel" minlength="1" maxlength="10">
           <p *ngIf="username.invalid" style="color:red"> veuillez vérifier login</p>
   
  </div>
  <div class="form-group col-md-3">
    <label for="mdp">mot de passe</label>
    <input type="password" class="form-control" id="mdp" 
           ngModel  name="mdp" pattern="[A-Za-z0-9]+"
           maxlength="10" minlength="1"
           #motdepasse="ngModel">
           <p *ngIf="motdepasse.invalid" style="color:red"> veuillez vérifier mot de passe</p>
  </div>
  <button type="submit" (click)="connexion(username.value,motdepasse.value)" class="btn btn-primary">se connecter</button>
</div>
</form>
<router-outlet></router-outlet>
-->


<!--<div style="float: center ; margin-left: 40% ; margin-top: 6%">
  <form #loginForm class="text border border-light p-5">
<div  style="float: center">
    <div >
    <p class="h4 mb-4">Connexion</p>
  
     
    <input type="text" id="username" class="form-control col-md-3" 
           placeholder="username"
           ngModel name="username" pattern='[a-zA-Z ]+'
           #username="ngModel" minlength="1" maxlength="10">
           <p *ngIf="username.invalid" style="color:red"> veuillez vérifier username</p>
  
    <br>
    <input type="password" id="password" class="form-control col-md-3"
           placeholder="password"
           ngModel  name="password" pattern="[A-Za-z0-9]+"
           maxlength="10" minlength="1"
           #motdepasse="ngModel">
           <p *ngIf="motdepasse.invalid" style="color:red"> veuillez vérifier mot de passe</p>
           <br>
    <button mdbBtn color="info" block="true" 
            class="btn btn-primary" type="submit"
            (click)="login(loginForm)"
            >
            se connecter
    </button>
  
  </div>
  
  </div>
  
  </form>
</div>
-->