<!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
---- Include the above in your HEAD tag 

<div style="margin-left: 30%" class="container login-container">
    <div class="row">
        <div class="col-md-6 login-form-1">
             <h3>Connexion</h3>
            <div style="margin-left: 12%">
                <img src="assets/images/only.png" class="img-circle">
            </div>
            <br>
            <br>
            <form #form="ngForm">
                <div class="form-group">
                    <input type="text" id="username" class="form-control" placeholder="username *" ngModel name="username" pattern='[a-zA-Z ]+' #username="ngModel" minlength="2" maxlength="10">
                    <p *ngIf="username.invalid" style="color:red"> veuillez vérifier username</p> />
                </div>
                <div class="form-group">
                    <input type="password" id="password" class="form-control" placeholder="Password *" ngModel name="password" pattern="[A-Za-z0-9]+" maxlength="10" minlength="1" #motdepasse="ngModel">
                    <p *ngIf="motdepasse.invalid" style="color:red"> veuillez vérifier mot de passe</p>/>
                </div>
                <div class="col-md-12 text-center">
                    <button mdbBtn color="info" block="true" class="btn btn-light" type="submit" (click)="login(form)">
          se connecter
        </button>
                </div>
                   <div class="col-sm-4 bloc-contact">
                    <h5 class="text-color"><span class="border-color" style="size: 0ch;color: blanchedalmond">Contactez nous</span></h5>
                    <div class="content">
                        <p>
                            OnlySoft : (+216) 54.950.202
                        </p>
                    </div>
                </div>
               
            </form>
        </div>
    </div>
</div>
-->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- new login start -->
<br>
<br>
<br>
<section class="login-block">
    <div class="container">
        <div class="row">
            <div class="col-md-4 banner-sec">
                <div class="signup__overlay"></div>
                <div class="banner">
                    <div id="demo" class="carousel slide " data-ride="carousel">
                        <!--  <ol class="carousel-indicators">
                            <li data-target="#demo" data-slide-to="0" class="active"></li>
                            <li data-target="#demo" data-slide-to="1"></li>
                        </ol>
                        -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="assets/images/moto.jpg" class="img-fluid">

                                <h1>Gestion de parc </h1>

                            </div>
                            <!--   <div class="carousel-item">
                                <img src="@/assets/images/footer_logo.png" class="img-fluid">
                                <h1>DISCOVER GROWTH</h1>
                            </div>
                            -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 login-sec">
                <h2 class="text-center">Connexion</h2>
                <form #form="ngForm" class="login100-form validate-form">
                    <div class="wrap-input100 validate-input">
                        <span class="label-input100">Nom d'utilisateur </span>
                        <input class="input100" type="text" autocomplete="off" name="username" ngModel name="username" pattern='[a-zA-Z0-9 ]+' #username="ngModel" minlength="2" maxlength="10" placeholder="Tapez votre nom d'utilisateur'">
                        <div *ngIf="username.invalid || username.touched && username.pristine" style="color:red"> veuillez vérifier le nom</div>
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input">
                        <span class="label-input100">Mot de passe</span>
                        <input class="input100" type="password" autocomplete="off" ngModel name="password" pattern="[A-Za-z0-9]+" maxlength="10" minlength="1" #motdepasse="ngModel" placeholder="Tapez votre mot de passe">
                        <div *ngIf="motdepasse.invalid || motdepasse.touched && motdepasse.pristine" style="color:red"> veuillez vérifier mot de passe</div>
                        <span class="focus-input100 password"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <button (click)="login(form)" type="submit" class="btn btn-primary mr-2">
                               Se connecter
                            </button>
                            <div *ngIf="motdepasse.pristine && motdepasse.touched && username.pristine && username.touched" style="color:red"> veuillez remplir les champs</div>
                        </div>
                    </div>
                </form>

                <div class="copy-text" style="font-style: oblique">
                    <i class="far fa-copyright"></i>OnlySoft 2019 , Email : onlysoft@planet.tn

                </div>
            </div>
        </div>
    </div>
</section>
<!-- new login end -->