<div class="row" style="margin-top: 1%">
    <div class="container">
        <!-- espace al jneb-->
        <!--  <h4 style="color:darkred">liste des véhicules</h4> -->

        <a routerLink="/typePieces/addTypePiece" style="margin-left: 85%">
            <button type="button" class="btn btn-dark">ajouter un type</button>
        </a>
        <br>

        <a routerLink="/typePieces/listTypePiece" style="margin-left: 85%">
            <button type="button" class="btn btn-dark"><i class="fa fa-list"></i></button>
        </a>

    </div>
</div>
<hr>

<router-outlet></router-outlet>
<br>
<div style="margin-bottom: 7%"></div>