<br>
<div class="row">
    <div class="container">
        <br>
        <form #formulaire="ngForm" *ngIf="piece">
            <div>
                <div class="card">
                    <div class="card-body">
                        <br>
                        <h5>Détail pièce</h5>
                        <div class="row">
                            <div class="form-group col-md-3">
                                <label id="des_piece">Désignation:</label>
                                <input type="text" required class="form-control" id="des_piece" [(ngModel)]="piece.des_piece" name="des_piece" #despiece="ngModel" pattern="[A-Za-z0-9]+">
                                <div *ngIf="despiece.invalid && despiece.touched" style="color:red" class="alert alert-light" role="alert">
                                    désignation invalid
                                </div>

                            </div>
                            <div class="form-group col-sm-3 ">
                                <label for="des_typePiece">type piece:</label>
                                <input type="text" class="form-control" #inputTypePiece name='des_typePiece' autocomplete="off" (keyup)="chercherTypePiece(inputTypePiece.value)" [(ngModel)]="piece.type_piece_p.des_typePiece">
                                <input type="text" hidden name='id_typePiece' [(ngModel)]="idSelectedTypePiece" ngModel>
                                <ol class="list-group" #listSelectedPiece>
                                    <li class="list-group-item" (click)="selectTypePiece(p)" *ngFor="let p of typePieces" value="{{p?.id_typePiece}}">
                                        {{p?.des_typePiece}}
                                    </li>
                                </ol>
                            </div>
                            <div class="form-group col-md-3">
                                <label id="reference_piece">Réference piece:</label>
                                <input type="text" class="form-control" id="reference_piece" [(ngModel)]="piece.reference_piece" name="reference_piece" #referencepiece="ngModel" pattern='[a-zA-Z0-9 ]+'>
                                <div *ngIf="referencepiece.invalid && referencepiece.touched" style="color:red" class="alert alert-light" role="alert">
                                    reference invalide
                                </div>

                            </div>

                            <div class="form-group col-md-3">
                                <label id="prix_achat">Prix unitaire en DT:</label>
                                <input type="tel" class="form-control" id="prix_achat" [(ngModel)]="piece.prix_achat" name="prix_achat" #prixachat="ngModel" pattern="[1-9,.]+">
                                <div *ngIf="prixachat.invalid && prixachat.touched" style="color:red" class="alert alert-light" role="alert">
                                    prix unitaire invalide
                                </div>

                            </div>
                            <div class="form-group col-md-3">
                                <label id="tva_p">TVA:</label>
                                <input type="text" class="form-control" id="tva_p" [(ngModel)]="piece.tva_p" name="tva_p" #tvap="ngModel" pattern='[0-9  ]+'>
                                <div *ngIf="tvap.invalid && tvap.touched" style="color:red" class="alert alert-light" role="alert">
                                    TVA invalide
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <br>
                            <br>
                            <div class="form-group col-md-3">
                                <button type="submit" class="btn btn-success" (click)="update(piece)"><i class="fa fa-check"></i></button>
                            </div>
                            <div class="form-group col-md-3">
                                <button type="button" class="btn btn-success" (click)="gotoList()"><i class="fa fa-list"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <br><br>
    </div>
</div>