<div class="row" style="margin-top: 2%">
    <div class="container"> <!-- espace al jneb-->
    <!--  <h4 style="color:darkred">liste des types de boite</h4> -->
      
      <a routerLink="/Boite/addBoite" style="margin-left: 85%">
        <button  type="button" class="btn btn-dark" >ajouter un type de boite</button>
      </a>
      <br>
      <br>
      
      <a routerLink="/Boite/listBoite" style="margin-left: 85%">
        <button  type="button" class="btn btn-dark" >consulter la liste</button>
      </a>
      

      <hr>
      <br   >
  
  <router-outlet></router-outlet>
  <br>
<!--<app-list-boite></app-list-boite> -->
  <div style="margin-bottom: 7%"></div>
  </div>
  </div>
