<br>
<div style="margin-left: 70%" class="form-group col-md-3">
    <button type="button" class="btn btn-info" routerLink="/listPiece">Consulter liste</button>
</div>

<div class="row">
    <div class="container">
        <br>
        <form #formulaire="ngForm">
            <div>
                <div class="card">
                    <div class="card-body">
                        <h5>Ajouter une pièce</h5>
                        <br>
                        <div class="row">
                            <div class="form-group col-md-3">
                                <label for="des_piece">Désignation piece:</label>
                                <input type="text" minlength="1" maxlength="55" required class="form-control" id="des_typePiece" ngModel name="des_piece" #despiece="ngModel" pattern="[A-Za-z0-9 ']+">
                                <div *ngIf="despiece.invalid && despiece.touched" style="color:red" class="alert alert-light" role="alert">
                                    désignation invalide
                                </div>
                            </div>
                            <div class="form-group col-sm-3 ">
                                <label for="des_piece">Type de piece:</label>
                                <input type="text" class="form-control" #inputTypePiece ngModel name='des_piece' autocomplete="off" (keyup)="chercherTypePiece(inputTypePiece.value)" [(ngModel)]="selectedTypePiece">
                                <input type="text" hidden name='id_typePiece' [(ngModel)]="idSelectedTypePiece" ngModel>
                                <ol class="list-group" #listSelectedPiece>
                                    <li class="list-group-item" (click)="selectTypePiece(p)" *ngFor="let p of typePieces" value="{{p?.id_typePiece}}">
                                        {{p?.des_typePiece}}
                                    </li>
                                </ol>
                            </div>

                            <div class="form-group col-md-3">
                                <label id="reference_piece">Réference piece:</label>
                                <input required minlength="1" maxlength="30" pattern="[A-Za-z0-9]+" type="text" class="form-control" id="reference_piece" ngModel name="reference_piece" #referencepiece="ngModel">
                                <div *ngIf="referencepiece.invalid && referencepiece.touched" style="color:red" class="alert alert-light" role="alert">
                                    référence invalide
                                </div>
                            </div>

                            <div class="form-group col-md-3">
                                <label for="prix_achat">Prix unitaire en DT:</label>
                                <input required type="text" pattern="[0-9 ]+ " class="form-control" id="prix_achat" ngModel name="prix_achat" #prixachat="ngModel">
                                <div *ngIf="prixachat.invalid && prixachat.touched" style="color:red" class="alert alert-light" role="alert">
                                    prix invalide
                                </div>
                            </div>

                            <div class="form-group col-md-3">
                                <label id="tva_p">TVA en %:</label>
                                <input type="text" pattern="[1-9]+" class="form-control" id="tva_p" ngModel name="tva_p" #tvap="ngModel">
                                <div *ngIf="tvap.invalid && tvap.touched" style="color:red" class="alert alert-light" role="alert">
                                    tva invalide
                                </div>
                            </div>


                        </div>
                        <div class="row">
                            <br>
                            <br>
                            <div class="form-group col-md-3">
                                <button type="submit" class="btn btn-success" (click)="add(formulaire)"><i class="fa fa-check"></i></button>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </form>
        <br><br>
    </div>
</div>