<div class="container">
    <div class="card">
      <div class="card-body">
    <h5 style="color:gray">Liste des assurances</h5>
    <br>
    <table class="table">
      <thead class="thead-light">
        <th>compagnie</th>
        <th>adresse</th>
        <th>téléphone</th>
        <th></th>
        <th></th>
        <th></th>
      </thead>
      <tr *ngFor="let assurance of assurances ;let i=index">
        <td>{{assurance?.compagnie_ass}}</td>
        <td>{{assurance?.adr_assurance}}</td>
        <td>{{assurance?.tel_assurance}}</td>
     <td><button type="button" class="btn btn-success" >Modifier</button></td> 
        <td><button type="button" class="btn btn-info" >View</button></td> 
        <td><button type="button" class="btn btn-danger" >Supprimer</button></td>
      </tr>
    </table>
    </div>
    </div>
  </div>

<!--
<div *ngFor="let assurance of assurances ">
  {{assurance|json}}
</div>
-->