<br>
<br>
<div class="container">
    <div class="card">
        <div class="card-body">
            <h5 style="color:gray">Liste des assurances</h5>
            <br>
            <table class="table">
                <thead class="thead-light">
                    <th>compagnie</th>
                    <th>adresse</th>
                    <th>téléphone</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </thead>
                <tr *ngFor="let assurance of assurances ;let i=index">
                    <td>{{assurance?.compagnie_ass}}</td>
                    <td>{{assurance?.adr_assurance}}</td>
                    <td>{{assurance?.tel_assurance}}</td>
                    <td><button type="button" class="btn btn-success" (click)="edit(assurance.id_assurance)"><i class="fa fa-pencil"></i></button></td>
                    <td><button type="button" class="btn btn-danger" (click)="delete(assurance.id_assurance)"><i class="fa fa-trash-o"></i></button></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<br>

<div class="row" style="margin-left: 80%">
    <br>
    <div class="form-group col-md-3">
        <a routerLink="/addAssurance" style="margin-left: 85%">
            <button type="button" class="btn btn-dark"><i class="fa fa-plus"></i></button>
        </a>
    </div>

    <!--
<div *ngFor="let assurance of assurances ">
  {{assurance|json}}
</div>
-->