<div class="row" style="margin-top: 1% ; margin-left: 2%">
    <div class="row">
        <br>
        <div class="form-group col-md-3">
            <a routerLink="/listTypeV" style="margin-left: 85%">
                <button type="button" class="btn btn-dark">consulter la liste</button>
            </a>
        </div>
    </div>
</div>
<hr>
<div style="margin-left: 5%">
    <form #formulaire="ngForm">
        <h5>Ajouter un type de vehicule</h5>
        <div class="row">
            <div class="form-group col-md-3 ">
                <label for="des_typeVehicule">Type de véhicule</label>
                <input type="text" class="form-control" id="des_typeVehicule" autocomplete="off" ngModel name="des_typeVehicule" #typevehicule="ngModel" pattern='[a-zA-Z ]+' minlength="1" maxlength="25">
                <div *ngIf="typevehicule.invalid && typevehicule.touched" style="color:red" class="alert alert-light" role="alert">
                    type invalide
                </div>

            </div>

        </div>

        <br>
        <div>
            <button type="submit" (click)="add(formulaire)" class="btn btn-success">Enregistrer</button>
        </div>

    </form>
</div>

<router-outlet></router-outlet>