<div class="container">
    <div class="card">
      <div class="card-body">
    <h5 style="color:gray">Liste des contrats</h5>
    <br>
    <table class="table">
      <thead class="thead-light">
        <th>montant</th>
        <th>date debut contrat</th>
        <th>date fin contrat</th>
        <th>num police</th>
        <th></th>
        <th></th>
        <th></th>
      </thead>
      <tbody>
      <tr *ngFor="let contrat of contrats ;let i=index">
        <th>{{contrat?.montant_contrat}}</th>
        <td>{{contrat?.date_deb_contrat}}</td>
        <td>{{contrat?.date_fin_contrat}}</td>
        <td>{{contrat?.num_police}}</td>
        <td><button type="button" class="btn btn-success" (click)="edit(contrat.id_contrat)" >Modifier</button></td> 
        <td><button type="button" class="btn btn-danger" (click)="delete(contrat.id_contrat)" >Supprimer</button></td>
      
      </tr>
    </tbody>
    </table>
    </div>
    </div>
  </div>


<!--<div>
  <label>hello</label>
  <div *ngFor="let chauffeur of chauffeurs">
  {{chauffeur|json}}
</div>
</div>
-->