<div class="row" style="margin-top: 2%">
    <div class="container"> <!-- espace al jneb-->
    <!--  <h4 style="color:darkred">liste des types de boite</h4> -->
      
      <a routerLink="/Assurance/addAssurance" style="margin-left: 85%">
        <button  type="button" class="btn btn-dark" >ajouter une assurance</button>
      </a>
      <br>
      <br>
      <a routerLink="/Assurance/listAssurance" style="margin-left: 85%">
        <button  type="button" class="btn btn-dark" >liste des assurances</button>
      </a>
      <hr>
      <br   >
  
  <router-outlet></router-outlet>
  <br>
  <!--<app-list-assurance></app-list-assurance> -->
  <div style="margin-bottom: 7%"></div>
  </div>
  </div>

