<br>
<br>
<div class="container">
    <div class="card">
        <div class="card-body">
            <h5 style="color:gray">Liste des depenses</h5>
            <br>
            <table class="table">
                <thead class="thead-light">
                    <th> immatriculation </th>
                    <th>date </th>
                    <th>ht</th>
                    <th>ttc</th>
                    <th>type de depense</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </thead>
                <tbody>
                    <tr *ngFor="let depensep of depense  | paginate: config;let i=index">
                        <th>{{depensep?.vehicule_dep?.immatriculation}}</th>
                        <th>{{depensep?.date_depense}}</th>
                        <td>{{depensep?.total_ttc | number}}</td>
                        <td>{{depensep?.total_ht }}</td>
                        <td>{{depensep?.typedepense?.designation_typeDep}}</td>

                        <td>
                            <!--<button type="button" class="btn btn-success" (click)="gotoInfo(depense.id_depense)"><i class="fa fa-pencil"></i></button>--></td>
                        <td>
                            <!-- <button type="button" class="btn btn-danger" (click)="delete(depense.id_depense,i) ">
                                <i class="fa fa-trash-o"></i>
                            </button>-->
                        </td>

                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
        </div>
    </div>
</div>