<div style="margin-left: 3%">
    <form #formulaire="ngForm">
        <h5>Ajouter un type de pièce</h5>
        <div class="row">
            <div class="form-group col-md-3 ">
                <label for="des_typePiece">type de pièce</label>
                <input type="text" class="form-control" id="des_typePiece" ngModel name="des_typePiece" #typePiece="ngModel" pattern='[a-zA-Z ]+' minlength="1" maxlength="25">
                <div *ngIf="typePiece.invalid && typePiece.touched" style="color:red" class="alert alert-light" role="alert">
                    type invalide
                </div>

            </div>

        </div>

        <br>
        <div>
            <button type="submit" (click)="add(formulaire)" class="btn btn-success">Enregistrer</button>
        </div>

    </form>
</div>