<form #formulaire="ngForm">
    <div class="row">
          <div class="form-group col-md-3 ">
              <label for="des_energie">energie</label>
              <input type="text" class="form-control" pattern='[A-Za-z\\s]*' minlength="3" maxlength="15" 
                     ngModel name="des_energie" > 
                     <p *ngIf="formulaire.invalid && formulaire.touched" style="color:red">energie incorrecte!</p>
          </div>
       
      </div>
    
    <br>
    <div>
        <button type="submit" (click)="add(formulaire)" class="btn btn-success">Enregistrer</button>
      </div>
  
  </form>
