<form #formulaire="ngForm">
    <div class="row">
          <div class="form-group col-md-3 ">
              <label for="des_energie">energie</label>
              <input type="text" class="form-control" pattern='[a-zA-Z ]+' minlength="3" maxlength="20" 
                     ngModel name="des_energie" 
                     #energie="ngModel"
                     >
                     <div *ngIf="energie.invalid && energie.touched " style="color:red" class="alert alert-light"
                      role="alert">
                        energie invalide
                       </div>
          </div>
       
      </div>
    
    <br>
    <div>
        <button type="submit" (click)="add(formulaire)" class="btn btn-success">Enregistrer</button>
      </div>
  
  </form>
