<div class="row" style="margin-top: 2%">
    <div class="container"> <!-- espace al jneb-->
      <!--<h4 style="color:darkred">liste des chauffeurs</h4> -->
      
      <a routerLink="/utilisateurs/addUtilisateur" style="margin-left: 85%">
        <button  type="button" class="btn btn-dark"  >ajouter un utilisateur</button>
      </a>
      <br>
      <br>
      <a routerLink="/utilisateurs/listUtilisateur" style="margin-left: 85%">
        <button  type="button" class="btn btn-dark"  >consulter la liste</button>
      </a>

      <hr>
      <br   >
  
  <router-outlet></router-outlet>
  <br>
  <!--<app-list-modele></app-list-modele> -->
  <div style="margin-bottom: 7%"></div>
  </div>
  </div>