
<div class="row">
  <div >
    <br>
    <form #formulaire="ngForm" >
      <div class="col-md-12">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="panel-body">
              <h5 style="color:gray">Ajouter un véhicule</h5>
              <br>
            <div class="row">
              <div class="form-group col-md-3">
                <label for="id_immatriculation">immatriculation:</label>
                <input  pattern="[1-9]{3}[tu]{2}[1-9]{4}" title="immatriculation doit etre 111tu1111" 
                       type="text" class="form-control" ngModel name="id_immatriculation">
            
              </div>


              <div class="form-group col-md-3">
                <label for="des_marque">marque:</label>
                <select class="form-control" ngModel name="id_marque">
                    <option *ngFor="let marque of marque" value="{{marque?.id_marque}}" >
                            {{marque?.des_marque}}</option>
                  </select>
                
              </div>
            
            <div class="form-group col-md-3 ">
                <label for="id_modele">modele</label>
                <select class="form-control" ngModel name="id_modele">
                  <option *ngFor="let modele of modele" value="{{modele?.id_modele}}" >
                          {{modele?.des_modele}}</option>
                </select>
              </div>
              <div class="form-group col-md-3">
                  <label for="date_m_c">date mise en circulation:</label>
                  <input type="date" max="2019-04-01" class="form-control" ngModel name="date_m_c" id="date_m_c">
                  
                </div>
                <div class="form-group col-md-3">
                    <label for="num_moteur">num_moteur:</label>
                    <input type="text" class="form-control" ngModel name="num_moteur" id="num_moteur">
                  </div>
                  <div class="form-group col-md-3">
                      <label for="date_acq">date d'acquisition:</label>
                      <input type="date" max="2019-05-01" class="form-control" ngModel name="date_acq" id="date_acq">
                     
                    </div>
                    <div class="form-group col-md-3">
                        <label for="cout_achat">valeur d'acquisition:</label>
                        <input  type="number"  class="form-control" ngModel name="cout_achat" id="cout_achat">
                      
                      </div>

                      <div class="form-group col-md-3 ">
                          <label for="id_typeVehicule">Type de vehicule</label>
                          <select class="form-control" ngModel name="id_typeVehicule">
                            <option *ngFor="let typeVehicule of typeVehicule" value="{{typeVehicule?.id_typeVehicule}}" >
                                {{typeVehicule?.des_typeVehicule}}</option>
                          </select>
                        </div>

                        <div class="form-group col-md-3 ">
                            <label for="id_affectation">Affectation</label>
                            <select class="form-control" ngModel name="id_affectation">
                              <option *ngFor="let affectation of affectation" value="{{affectation?.id_affectation}}" >
                                  {{affectation?.des_affectation}}</option>
                            </select>
                          </div>

                      <div class="form-group col-md-3">
                          <label for="matricule_ch">Chauffeur:</label>
                          <select  class="form-control" ngModel name="id_chauffeur" >
                            <option  *ngFor="let chauffeur of chauffeur" value="{{chauffeur?.id_chauffeur}}" >
                              {{chauffeur?.nom_ch}}</option>
                          </select>

                        </div>

                        <div class="form-group col-md-3">
                            <label for="des_boite">boite:</label>
                            <select class="form-control" ngModel name="id_typeBoite">
                              <option *ngFor="let boite of boites" 
                              value="{{boite.id_typeBoite}}"
                              >{{boite?.des_boite}}</option>
                            </select>
                          </div>

                          <div class="form-group col-md-3">
                              <label for="des_energie">energie:</label>
                              <select class="form-control" ngModel name="id_energie">
                                <option *ngFor="let energie of energies" 
                                value="{{energie.id_energie}}" >
                                {{energie?.des_energie}}</option>
                              </select>
                            </div>
                          </div>

                        </div>
                          <h5 style="color:gray">Assurance</h5>
              <br>
              <div class="row">
                  <div class="form-group col-md-3 ">
                      <label for="compagnie_ass">compagnie</label>
                      <select class="form-control" ngModel name="id_assurance" >
                        <option *ngFor="let assurance of assurance"
                                value="{{assurance?.id_assurance}}" >{{assurance?.compagnie_ass}}</option>
                      </select>
                    </div>

                  <!--  <div class="form-group col-md-3">
                        <label for="num_police">num police:</label>
                        <select class="form-control" ngModel name="num_police" id="num_police">
                          <option *ngFor="let contrat of contrat" >{{contrat?.num_police}}</option>
                        </select>
                      </div>
                  -->
                      <div class="form-group col-md-3">
                          <label for="date_deb_contrat">date debut contrat:</label>
                          <input type="date" min="2019-04-03" class="form-control" 
                                 ngModel name="date_deb_contrat" id="date_deb_contrat">
                          
                        </div>

                        <div class="form-group col-md-3">
                            <label for="date_fin_contrat">date fin contrat:</label>
                            <input type="date" min="2019-04-03" class="form-control" ngModel name="date_fin_contrat" id="date_fin_contrat">
                           
                          </div>
                          <div class="form-group col-md-3">
                              <label for="montant_contrat">montant assurance:</label>
                              <input type="number" min=10000 class="form-control" ngModel name="montant_contrat" id="montant_contrat">
                            </div>

              </div>
              <h5 style="color:gray">Visite technique</h5>
              <br>
              <div class="row">
                  <div class="form-group col-md-3">
                      <label for="date_deb_visit_tech">date debut visite technique:</label>
                      <input type="date" class="form-control" min="2019-04-03" ngModel name="date_deb_visit_tech" id="date_deb_visit_tech">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="date_fin_visit_tech">date fin visite technique:</label>
                        <input type="date" class="form-control" ngModel name="date_fin_visit_tech" id="date_fin_visit_tech">
                      </div>

                      <div class="form-group col-md-3">
                          <label for="montant_visit_tech">montant visite technique:</label>
                          <input type="number" min="10000" class="form-control" ngModel name="montant_visit_tech" id="montant_visit_tech">
                          </div>
              </div>
              <h5 style="color:gray">Vignette</h5>
              <br>
              <div class="row">
                  <div class="form-group col-md-3">
                      <label for="date_deb_vig">date debut vignette:</label>
                      <input type="date" class="form-control" min="" ngModel name="date_deb_vig" id="date_deb_vig">

                    </div>
                    <div class="form-group col-md-3">
                      <label for="date_fin_vig">date fin vignette:</label>
                      <input type="date" class="form-control" ngModel name="date_fin_vig" id="date_fin_vig">
                     
                    </div>
                    <div class="form-group col-md-3">
                      <label for="montant_vig">montant vignette:</label>
                      <input type="number" min="10000" class="form-control" ngModel name="montant_vig" id="montant_vig">
                     
                    </div>
              </div>
              <div class="form-group col-md-2">
                <br>
                <button  type="submit" (click)="add(formulaire)" class="btn btn-success" >Add</button>
              </div>
            </div>

          </div>
        </div>
    </form>

    <br><br>
  </div>
</div>