<form #formulaire="ngForm" *ngIf="marque">
    <div class="row">
      <div class="form-group col-sm-3">
        <label for="Marque">Marque</label>
        <input type="text" class="form-control" [(ngModel)]="marque.des_marque" 
               name="des_marque" id="des_marque" pattern='[A-Za-z\\s]*' minlength="3" maxlength="15" >
               <p *ngIf="formulaire.invalid && formulaire.touched" style="color:red">
                  marque invalide  !</p>
      </div>
    </div>
    <br>
    <div>
        <button type="submit" (click)="modifier(marque)" class="btn btn-success">Enregistrer</button>
      </div>
  
  </form>

